* {

  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

#root {
  margin-left: 30%;
  min-width: 500px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 0px 25px;
}

.nav--icon {
  margin-right: 10px;
  height: 40px;
}

.nav--logo_text {
  margin-right: auto;
  font-weight: 700;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.main {
  padding: 57px 27px;
  color: rgb(255, 255, 255);
  background-size: 200px;
  background-color: #3e3f49;
  background-image: url(./assets/react.svg);
  background-repeat: no-repeat;
  background-position: 135% 50%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts>li {
  line-height: 19px;
  padding-block: 10px
}

.main--facts>li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}